.corners{
  border-radius: 30px;
  background: #80c497;
  height: auto;
  width: 380px;
  left: 10%;
}

.row{
  display: flex;
  margin: auto;
  width: 300px;
  left: 30%;
  height: 10px;
  justify-content: start;
}

.row-1{
  display: flex;
  margin: 50px;
  width: 380px;
  height: auto;
  position: relative;
}

.row-2{
  display: flex;
  margin: 50px;
  width: 100px;
  height: 2px;
  position: relative;
}
 
.col-3{
  display: flex;
  margin: auto;
  justify-content: start;
  width: 10px;
}

.cols{
  position: absolute;
  top: 50%;
  left: 0%;
}

.cols1{
  position: absolute;
  top: 50%;
  left: 40%;
}
.up{
  position: absolute;
  top: 50%;
  left: 60%;
  margin: -1px 0 0 -15px;
}
.details{
  display: flex;
  margin: 50px;
  width: 120px;
  height: 2px;
  position: relative;
  top: 25%;
  left: 20%;
  margin: -52px 0 0 -60px;
}

.chart-container{
  display: flex;
  margin: auto;
  float: right;
  width: 400px;
}
#myChart{
  position: absolute;
  top: 15%;
  right: 10%;
}

.alert-success{
  display: flex;
  width: 400px;
  height: 55px;

}

.btn-danger{
  display: flex;
  margin: 50px;
  width: 100px;
  height: 40px;
  position: relative;
  top: 28%;
  left: 12%;
  margin: -65px 0 0 -60px;
}
.alert-danger{
  display: flex;
  width: 400px;
  height: 55px;

}


.logo{
  display: flex;
  left: 10px;
  top: 10px;
  margin: -80px 0 0 -10px;
}

.login{
  display: inline;
  top: 10px;
  right: 20px;
  margin: -80px 0 0 -10px;
}

.button {
  transition-duration: 0.4s;
  border-radius: 8px;
  border-color: rgb(110, 168, 110);
}

.button:hover {
  background-color: #b2d9b3; /* Green */
  color: white;
}

