.corners{
  border-radius: 30px;
  background: #80c497;
  height: auto;
  width: 380px;
  left: 10%;
}

.row{
  display: flex;
  margin: auto;
  width: 300px;
  left: 30%;
  height: 10px;
  justify-content: start;
}

.row-1{
  display: flex;
  margin: 50px;
  width: 380px;
  height: auto;
  position: relative;
}

.row-2{
  display: flex;
  margin: 50px;
  width: 150px;
  height: auto;
  position: relative;
}
 
.col-3{
  display: flex;
  margin: auto;
  justify-content: start;
  width: 10px;
}

.cols{
  position: absolute;
  top: 50%;
  left: 0%;
}

.cols1{
  position: absolute;
  top: 50%;
  left: 40%;
}
.up{
  position: absolute;
  top: 50%;
  left: 60%;
  margin: -1px 0 0 -25px;
}
.details{
  position: absolute;
  top: 80%;
  left: 16%;

}

.chart-container{
  display: flex;
  margin: auto;
  float: right;
  width: 400px;
}
#myChart{
  position: absolute;
  top: 25%;
  right: 10%;
}

.alert-success{
  display: flex;
  width: 450px;
  height: 50px;

}