{% extends 'base/navbar.html' %}
{% block content %}

<h4>{{total_calories}} calories consumed today</h4>

  <div class="row">
    <div class="col-5 ">
      <div class="row-1">
        <div class="text-success p-1"> <h6><a href="{% url 'details' %}"> View Details</a></h6></div>
      </div>
        <div class="row">
          <div class="col-3">
            <h3>Food</h3>
          </div>
          <div class="col-3">
            <h3>Calories</h3>
          </div>
        </div>
      {% for food in food_detail %}
      <div class="row-1">
        <div class="col-3">
          {{food.name_of_food}}
        </div>
        <div class="col-3 ">
          {{food.calorie}} 
        </div>
        <h6><a href="{% url 'update' food.id %}">Update</a> <a href="{% url 'delete' food.id %}">Delete</a> 
      </div>
      {% endfor %}
      <div class="row-2">
        <a href="{% url 'add' %}"><button type="submit" class="btn btn-success">Add Food </button></a>
      </div>
    </div>
  </div>


{% endblock content %}